<div class="container text-center">
  <div class="row py-5 p-0">
    <div class="col-md-3">
       <span>💀</span>
    </div>
    <div class="col-md-6">
       <h1> Reserved area </h1>
       <p class="fs-4 text-danger">Attempt to login only if you have an 'Admin' role.</p>
    </div>
    <div class="col-md-3">
<span>💀</span>
    </div>
    <div class="col-md-12 py-5" *ngIf="!user">
       <form [formGroup]="reservedForm" class="p-4 w-50 m-auto">
      <label for="" class="py-4 fs-3 fw-bold">Email</label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="email">
<label for="" class="py-4 fs-3 fw-bold">Password</label>
<input type="password" class="form-control bg-transparent m-auto" formControlName="password">
<button class="px-5 py-2 m-2" (click)="login()">LOGIN</button>
    </form>
    </div>
<div class="col-md-12" *ngIf="user">
  <div class="row borderd p-0 bg">
<div class="col-md-2 darker">
<div class="row p-0 text-white">
  <div class="col-md-12 p-0">
    <img src="assets/logo/academy.png" alt="" style="max-height: 100px; width: 220px;">
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='courses'">
    <span class="fs-5">Courses</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='subjects'">
    <span class="fs-5">Subjects</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='teachers'">
    <span class="fs-5">Teachers</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='users'">
    <span class="fs-5">Users</span>

</p>
  </div>
</div>
</div>
<div class="col-md-10">
<div class="row p-0">
  <div class="col-md-12 darker" style="min-height: 100px">
    <div class="row text-start text-white">
      <div class="col-md-8  p-2">
      <h2><button class="btn" (click)="section=''">{{user.nome + " " + user.cognome}} office</button></h2>
      </div>
      <div class="col-md-4 p-0">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
<div class="row">
<div class="col-md-3">
  <img src="../../../assets/logo/crown.png" alt="" class="w-100 rounded-circle">
</div>
<div class="col-md-9 p-1 overflow-auto ">
  <p>{{user.nome + " " + user.cognome}}</p>
  <p>{{user.email}}</p>
</div>
</div>          </button>
          <ul class="dropdown-menu">
            <li>ID : {{user.id}}</li>
            <li>AGE : {{user.eta}}</li>
            <li>ROLE : {{user.role}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 p-4" *ngIf="section==''">
    <div class="row text-white">

      <div class="col-md-9">
<div class="row">
   <div class="col-md-4 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-6">
  <img src="assets/logo/crown.png" alt="" class="rounded w-100">
</div>
<div class="col-md-6 px-2 text-end">
  <p class="fs-4 darker p-2 text-center">
   ⚙️</p>
</div>
<div class="col-md-12 py-2">
<p>
 {{user.id + " - " + user.nome + " " + user.cognome}}
</p>
<p>
  {{user.role}}
</p>
</div>

        </div>
        <div class="darker my-2 row w-100 rounded">
<div class="col-md-12 p-2">
          <div class="py-2 fs-1" *ngIf="courses">
           <h2 class="text-success">Courses</h2>
            {{courses.content.length}}
          </div>
        </div>
        </div>

      </div>
      <div class="col-md-8 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-12 p-2">
  <div class="chart" echarts [options]="option" style="max-height: 270px;"></div>
</div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-12 p-2">
          <div class="py-2 fs-1" *ngIf="subjects">
            <h2 class="text-success">subjects</h2>
            {{subjects.content.length}}
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-8 p-2">
        <div class="darker row w-100 rounded">
          <div class="col-md-12 p-2">
            <div class=" py-2 fs-1" *ngIf="teachers">
              <h2 class="text-success">Teachers</h2>
              {{teachers.content.length}}
            </div>
          </div>
      </div>
      </div>
</div>
      </div>
      <div class="col-md-3 p-2">
        <div class="darker rounded row">
<div class="p-2 " *ngFor="let f of fake">
<div class="row border w-100 m-auto rounded">
  <div class="col-md-3">
  <img src="{{f.image}}" alt="" class="w-100">
</div>
<div class="col-md-9">
  <p class="fs-5">{{f.nickname}}</p>
  <p class="fs-6">{{f.name}}</p>
</div>
</div>
</div>
        </div>
      </div>

        <div class="col-md-12 p-2">
          <div class="darker rounded py-5 row fs-5" *ngIf="users">
            <h2 class="text-success">Users</h2>
            <div class="col-md-3" *ngFor="let u of users.content">
              {{u.nome  + " " + u.cognome}}
              <p>{{u.role}}</p>
            </div>
<p>
  <span class="btn mx-2 fs-3" *ngIf="users.number!=0" (click)="getAllUsers(users.number-1)">⬅️</span>
  <span class="btn mx-2 fs-3" *ngIf="users.number!=users.totalPages-1" (click)="getAllUsers(users.number+1)">➡️</span>
</p>
          </div>
        </div>

    </div>
  </div>
  <div class="col-md-12 p-2" *ngIf="section=='courses'">
<div class="row">
  <div class="col-md-4 p-2">
    <h2 class="text-white">Form di inserimento/ricerca/modifica</h2>
<form [formGroup]="coursesForm" class="p-2 darker rounded text-white"
>
<label for="">Nome </label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="nome">
<label for="">Prezzo</label>
<input type="number" class="form-control border border-light bg-transparent " formControlName="prezzo">
<label for="">Descrizione</label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="descrizione">
<label for="">Docente</label>
<select class="form-select border border-light bg-transparent " *ngIf="docenti" formControlName="docente_id" (change)="updateDocente(coursesForm.controls['docente_id'].value)">
  <option value=""></option>
  <option value="{{d}}" *ngFor="let d of docenti">{{d.i + " " + d.nome }}</option>
</select>
<label for="" *ngIf="materie">Materia</label>
<select class="form-select border border-light bg-transparent " *ngIf="materie" formControlName="materia_id">
  <option value="" ></option>
  <option value="{{d}}" *ngFor="let d of materie" >{{d.i + " " + d.nome }}</option>
</select>
<span class="fs-6 m-1 btn btn-success" (click)="insertCourse()">Add course</span>
<span class="fs-6 m-1 btn btn-success" (click)="searchCourse()">Search course</span>
<span class="fs-6 m-1 btn btn-success" (click)="insertCourse()">Delete course</span>
<span class="fs-6 m-1 btn btn-success" (click)="insertCourse()">Modify course</span>
</form>
  </div>
  <div class="col-md-8 p-2">
<div class="row">
  <div class="col-md-3 p-1">
    <div class="darker rounded" *ngFor="let c of courses">
<h2>{{c.nome}}</h2>
<p>{{c.descrizione}}</p>

    </div>
  </div>
</div>
  </div>
</div>
  </div>
  <div class="col-md-12 p-2" *ngIf="section=='subjects'">
<div class="row">
  <div class="col-md-4 p-2">
<form [formGroup]="subjectsForm" class="p-2 darker rounded">
<label for="">Nome </label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="nome">
<span class="fs-6 m-1 btn btn-success" (click)="saveSubject()">Add subject</span>
</form>
  </div>
  <div class="col-md-8 p-2">

  </div>
</div>
  </div>
  <div class="col-md-12 p-2" *ngIf="section=='teachers'">
<div class="row">
  <div class="col-md-4 p-2">
<form [formGroup]="teachersForm" class="p-2 darker rounded"
></form>
  </div>
  <div class="col-md-8 p-2">

  </div>
</div>
  </div>
  <div class="col-md-12 p-2" *ngIf="section=='users'">
<div class="row">
  <div class="col-md-4 p-2">
<form [formGroup]="usersForm" class="p-2 darker rounded"
></form>
  </div>
  <div class="col-md-8 p-2">

  </div>
</div>
  </div>
</div>
</div>
  </div>

</div>
  </div>
</div>
