<div class="container text-center">
  <div class="row py-5 p-0">
    <div class="col-md-3 my-3">
       <span class="p-4 ">💀</span>
    </div>
    <div class="col-md-6">
       <h1> Reserved area </h1>
       <p class="fs-4 text-danger">Attempt to login only if you have an 'Admin' role.</p>
    </div>
    <div class="col-md-3 my-3">
<span class="p-4">💀</span>
    </div>
    <div class="col-md-12 py-5" *ngIf="!user&&this.section==''">
       <form [formGroup]="reservedForm" class="p-4 w-50 m-auto">
      <label for="" class="p-4 m-1 fs-3 fw-bold">Email</label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="email">
<label for="" class="p-4 m-1 fs-3 fw-bold">Password</label>
<input type="password" class="form-control bg-transparent m-auto" formControlName="password">
<button class="px-5 py-2 m-2" (click)="login()">LOGIN</button>
<p class="text-center fw-bold"> OR</p>

<p class="text-center fw-bold"> AREN'T YOU AN ADMIN?</p>
<button class="px-5 py-2 m-2" [routerLink]="'/'">GO TO USER FORMS</button>
    </form>
    </div>
    <div class="col-md-12 py-3 text-center" *ngIf="section=='confirm'">
      <div class="row borderd p-0 bg">
        <form [formGroup]="confirmForm" class="w-50 bg-transparent m-auto text-white fs-5">
              <label for="">Inserisci il codice che ti abbiamo mandato via mail</label>
      <input type="text" class="form-control bg-transparent" formControlName="confirm">
    <button class="px-5 py-2 m-2" (click)="confirm()">Conferma</button>
    </form>

      </div>
    </div>
<div class="col-md-12" *ngIf="user">
  <div class="row borderd p-0 bg">
<div class="col-md-2 darker">
<div class="row p-0 text-white">
  <div class="col-md-12 p-0">
    <img src="assets/logo/academy.png" alt="" style="max-height: 100px; width: 220px;">
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='courses';updatedatas()">
    <span class="fs-5">Courses</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='subjects';updatedatas()">
    <span class="fs-5">Subjects</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='teachers';updatedatas()">
    <span class="fs-5">Teachers</span>

</p>
  </div>
  <div class="col-md-12 py-2">
  <p class="p-2 to-hover" (click)="section='users';updatedatas()">
    <span class="fs-5">Users</span>

</p>
  </div>
</div>
</div>
<div class="col-md-10">
<div class="row p-0">
  <div class="col-md-12 darker" style="min-height: 100px">
    <div class="row text-start text-white">
      <div class="col-md-8  p-2">
      <h2><button class="btn" (click)="section=''">{{user.nome + " " + user.cognome}} office</button></h2>
      </div>
      <div class="col-md-4 p-0">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
<div class="row">
<div class="col-md-3">
  <img src="../../../assets/logo/crown.png" alt="" class="w-100 rounded-circle">
</div>
<div class="col-md-9 p-1 overflow-auto ">
  <p>{{user.nome + " " + user.cognome}}</p>
  <p>{{user.email}}</p>
</div>
</div>          </button>
          <ul class="dropdown-menu">
            <li>ID : {{user.id}}</li>
            <li>AGE : {{user.eta}}</li>
            <li>ROLE : {{user.role}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 p-4" *ngIf="section==''">
    <div class="row text-white">

      <div class="col-md-9">
<div class="row">
   <div class="col-md-4 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-6">
  <img src="assets/logo/crown.png" alt="" class="rounded w-100">
</div>
<div class="col-md-6 px-2 text-end">
  <p class="fs-4 darker p-2 text-center">
   ⚙️</p>
</div>
<div class="col-md-12 py-2">
<p>
 {{user.id + " - " + user.nome + " " + user.cognome}}
</p>
<p>
  {{user.role}}
</p>
</div>

        </div>
        <div class="darker my-2 row w-100 rounded">
<div class="col-md-12 p-2">
          <div class="py-2 fs-1" *ngIf="courses">
           <h2 class="text-success">Courses</h2>
            {{courses.content.length}}
          </div>
        </div>
        </div>

      </div>
      <div class="col-md-8 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-12 p-2">
  <div class="chart" echarts [options]="option" style="max-height: 270px;"></div>
</div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="darker row w-100 rounded">
<div class="col-md-12 p-2">
          <div class="py-2 fs-1" *ngIf="subjects">
            <h2 class="text-success">subjects</h2>
            {{subjects.content.length}}
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-8 p-2">
        <div class="darker row w-100 rounded">
          <div class="col-md-12 p-2">
            <div class=" py-2 fs-1" *ngIf="teachers">
              <h2 class="text-success">Teachers</h2>
              {{teachers.content.length}}
            </div>
          </div>
      </div>
      </div>
</div>
      </div>
      <div class="col-md-3 p-2">
        <div class="darker rounded row">
<div class="p-2 " *ngFor="let f of fake">
<div class="row border w-100 m-auto rounded">
  <div class="col-md-3">
  <img src="{{f.image}}" alt="" class="w-100">
</div>
<div class="col-md-9">
  <p class="fs-5">{{f.nickname}}</p>
  <p class="fs-6">{{f.name}}</p>
</div>
</div>
</div>
        </div>
      </div>

        <div class="col-md-12 p-2">
          <div class="darker rounded py-5 row fs-5" *ngIf="users">
            <h2 class="text-success">Users</h2>
            <div class="col-md-3" *ngFor="let u of users.content">
              {{u.nome  + " " + u.cognome}}
              <p>{{u.role}}</p>
            </div>
<p>
  <span class="btn mx-2 fs-3" *ngIf="users.number!=0" (click)="getAllUsers(users.number-1)">⬅️</span>
  <span class="btn mx-2 fs-3" *ngIf="users.number!=users.totalPages-1" (click)="getAllUsers(users.number+1)">➡️</span>
</p>
          </div>
        </div>

    </div>
  </div>
  <div class="col-md-12 p-2" *ngIf="section=='courses'">
<div class="row">
  <div class="col-md-4 p-2">
    <h2 class="text-white">Form di inserimento/ricerca/modifica</h2>
<form [formGroup]="coursesForm" class="p-2 darker rounded text-white"
>
<label for="">Nome </label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="nome">
<label for="">Prezzo</label>
<input type="number" class="form-control border border-light bg-transparent " formControlName="prezzo">
<label for="">Descrizione</label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="descrizione">
<label for="">Docente</label>
<select class="form-select border border-light bg-transparent  text-danger" *ngIf="docenti" formControlName="docente_id" (change)="updateDocente(coursesForm.controls['docente_id'].value)">
  <option value=""></option>
  <option value="{{d.id}}" *ngFor="let d of docenti">{{d.id + " " + d.nome }}</option>
</select>
<div class="overflow-auto" *ngIf="materiePerCorsi.length>0">
 <label for="">Materie che hai scelto per il corso </label>
<p class="p-1 fs-5" *ngFor="let m of materiePerCorsi">{{m.id + " - " + m.nome}} <span class="fs-4" (click)="removeMateriaPerCorso(m.id)">✖️</span></p>
</div>
<div *ngIf="materie.length>0">
<label for="">Materie che insegna il docente </label>
<select class="form-select border border-light bg-transparent  text-danger"  formControlName="materia_id" (change)="updateMateria(coursesForm.controls['materia_id'].value)">
  <option value="" ></option>
  <option value="{{d.id}}" *ngFor="let d of materie" >{{d.id + " " + d.nome }}</option>
</select>
</div>
<span class="fs-6 m-1 btn btn-success" (click)="insertCourse()">Add course</span>
<span class="fs-6 m-1 btn btn-success" (click)="searchCourse()">Search course</span>
</form>
  </div>
  <div class="col-md-8 p-2">
    <div class="row darker rounded w-100">
      <h2 *ngIf="courses &&courses.content.length==0" class="text-white">Non ci sono corsi</h2>
      <div class="col-md-4 p-2 text-white" *ngFor="let c of courses.content" >
        <div class="darker rounded p-1">
          <p class="p-2 text-end"><span class="btn fs-4" (click)="modifyCourses(c)">⚙️</span></p>
        <h2>{{c.nome}}</h2>
<p>{{c.descrizione}}</p>
<p>Prezzo - {{c.prezzo}}</p>
<p *ngFor="let d of c.docente">Docente - {{d.nome}}</p>
<p><span class="p-1 fs-5" *ngFor="let m of c.materia">{{m.nome}}</span></p>
        </div>
  </div>
  <p>
    <span class="btn mx-2 fs-3" *ngIf="courses.number!=0" (click)="getAllCourses(courses.number-1)">⬅️</span>
    <span class="btn mx-2 fs-3" *ngIf="courses.number!=courses.totalPages-1&&courses.totalPages!=0" (click)="getAllCourses(courses.number+1)">➡️</span>
  </p>
</div>
  </div>
</div>
  </div>
  <div class="col-md-12 p-2 text-white" *ngIf="section=='subjects'">
<div class="row">
  <div class="col-md-4 p-2">
    <h2 class="text-white">Form di inserimento/ricerca/modifica</h2>
<form [formGroup]="subjectsForm" class="p-2 darker rounded">
<label for="">Nome </label>
<input type="text" class="form-control border border-light bg-transparent " formControlName="nome">
<span class="fs-6 m-1 btn btn-success" (click)="saveSubject()">Add subject</span>
</form>
  </div>
  <div class="col-md-8 p-2">
<div class="row darker rounded w-100">
  <h2 *ngIf="subjects.content.length==0" class="text-white">Non ci sono materie</h2>
  <div class="col-md-4 p-2" *ngFor="let s of subjects.content">
    <div class="p-1 darker rounded">
       <p class="p-2 text-end"><span class="btn fs-4" (click)="modifySubject(s)">⚙️</span></p>
    <p class="fs-4">{{s. id + " - " + s.nome }}</p>
    </div>
  </div>
  <p>
    <span class="btn mx-2 fs-3" *ngIf="subjects.number!=0" (click)="getAllSubjects(subjects.number-1)">⬅️</span>
    <span class="btn mx-2 fs-3" *ngIf="subjects.number!=subjects.totalPages-1&&subjects.totalPages!=0" (click)="getAllSubjects(subjects.number+1)">➡️</span>
  </p>
</div>
  </div>
</div>
  </div>
  <div class="col-md-12 p-2 text-white"  *ngIf="section=='teachers'">
<div class="row">
  <div class="col-md-4 p-2">
    <h2 class="text-white">Form di inserimento/ricerca/modifica</h2>
<form [formGroup]="teachersForm" class="p-2 darker rounded">
  <label for="">Nome </label>
  <input type="text" class="form-control border border-light bg-transparent" formControlName="nome">
  <div *ngIf="teachersSubjects.length>0">
      <label for="">Materie insegnate </label>
  <p class="p-1 fs-5" *ngFor="let m of teachersSubjects">{{m.id + " - " + m.nome}} <span class="fs-4" (click)="removeTeacherSubject(m)">✖️</span></p>
  </div>
    <label for="">Materie disponibili </label>
  <select class="form-select border border-light bg-transparent text-danger" formControlName="materia_id" (change)="addToTeachersSubjects(teachersForm.controls['materia_id'].value)">
    <option value="" ></option>
    <option value="{{d.id}}" *ngFor="let d of subjects.content">{{d.id + " " + d.nome }}</option>
  </select>  <span class="fs-6 m-1 btn btn-success" (click)="saveTeacher()">Add teacher</span>
</form>
  </div>
  <div class="col-md-8 p-2">
    <div class="row darker rounded w-100">
      <h2 *ngIf="teachers.content.length==0" class="text-white">Non ci sono insegnanti</h2>
      <div class="col-md-4 p-2" *ngFor="let s of teachers.content">
        <div class="p-1 darker rounded">
<p class="p-2 text-end"><span class="btn fs-4" (click)="modifyTeacher(s)">⚙️</span></p>
        <p class="fs-4">{{s. id + " - " + s.nome }}</p>
        <label for="" class="p-1">Materie insegnate: </label>
        <select name="" id="" class="form-select">
          <option value="" ></option>
          <option value="{{d}}" *ngFor="let d of s.materia" >{{d.id + " " + d.nome }}</option>
        </select>
        </div>

      </div>
      <p>
        <span class="btn mx-2 fs-3" *ngIf="teachers.number!=0" (click)="getAllTeachers(teachers.number-1)">⬅️</span>
        <span class="btn mx-2 fs-3" *ngIf="teachers.number!=teachers.totalPages-1&&teachers.totalPages!=0" (click)="getAllTeachers(teachers.number+1)">➡️</span>
      </p>
    </div>
      </div>
</div>
  </div>
  <div class="col-md-12 p-2 text-white"  *ngIf="section=='users'">
<div class="row">
  <div class="col-md-4 p-2">
    <h2 class="text-white">Form di inserimento/ricerca/modifica</h2>
<form [formGroup]="usersForm" class="p-2 darker rounded">
<label for="">Nome</label>
<input type="text" class="form-control bg-transparent" formControlName="nome">
<label for="">Cognome</label>
<input type="text" class="form-control bg-transparent" formControlName="cognome">
<label for="">Email</label>
<input type="text" class="form-control bg-transparent" formControlName="email">
<label for="">Età (min. 18)</label>
<input type="text" class="form-control bg-transparent" formControlName="eta">
<label for="">Password (min. 6 caratteri)</label>
<input type="password" class="form-control bg-transparent" formControlName="password">
<label for="">Ripeti Password (min. 6 caratteri)</label>
<input type="password" class="form-control bg-transparent" formControlName="ripetiPassword">
<p class="p-1 text-center"><span class="btn fs-5 text-white" (click)="aggiungiUtente()">Aggiungi utente</span></p>
</form>
  </div>
  <div class="col-md-8 p-2">
 <div class="row darker rounded w-100">
  <h2 *ngIf="users.content.length==0">Non ci sono users</h2>
  <div class="col-md-4 p-2" *ngFor="let s of users.content">
        <div class="rounded darker p-1">
          <p class="text-end p-2"><span class="btn fs-4" (click)="deleteUser(s)">❌</span></p>
        <h2>{{s.id + " - " + s.nome + " " + s.cognome}}</h2>
        <p>{{s.email}}</p>
        <p>{{s.eta}}</p>
        <p>{{s.role}}</p>

                  </div>
      </div>
      <p>
        <span class="btn mx-2 fs-3" *ngIf="users.number!=0" (click)="getAllUsers(users.number-1)">⬅️</span>
        <span class="btn mx-2 fs-3" *ngIf="users.number!=users.totalPages-1&&users.totalPages!=0" (click)="getAllUsers(users.number+1)">➡️</span>
      </p>
 </div>
  </div>
</div>
  </div>
</div>
</div>
  </div>

</div>
  </div>
</div>
