<div class="p-0 m-0 ">
 <div class="container text-center py-5">
  <div class="row py-5">
    <div class="col-md-12">
     <h1>Thousands of courses</h1>
    </div>
   <div class="col-md-12">
     <form [formGroup]="search">
    <input type="text" class="form-control my-2 w-50 m-auto" formControlName="search">
    <button class="m-4 px-5 py-3">Search</button>
    </form>
   </div>
   <div class="col-md-12 py-5">
<div class="row">
  <div class="col-md-4 p-5" *ngFor="let c of corso;index as i">
    <div class="p-3">
        <div class="rounded py-3" [ngClass]="i%2==0?'even':'odd'">
      <h2 class="fs-2 fw-bold">{{cors[0].title}}</h2>
<img src="{{cors[0].img}}" alt="" class="w-100">
<p class="fs-5">Svolto da {{cors[0].autore.nome}}</p>
<label for="">Categorie</label>
<select class="form-select bg-transparent w-75 m-auto my-2">
  <option value="" *ngFor="let c of cors[0].categoriaList">{{c.nome}}</option>
</select>
<button class="m-2 px-4 py-2" (click)="showCourse(cors[0])">Anteprima</button>
</div>
    </div>
  </div>
</div>
   </div>
  </div>
</div>
</div>

