<div class="p-0 m-0 ">
 <div class="container text-center py-5">
  <div class="row py-5">
    <div class="col-md-12">
     <h1 data-aos="fade-right" data-aos-duration="3000">Thousands of courses</h1>
    </div>
   <div class="col-md-12">
     <form [formGroup]="search">
    <input type="text" class="form-control my-2 w-50 m-auto" formControlName="search">
    <button class="m-4 px-5 py-3">Search</button>
    </form>
   </div>
   <div class="col-md-12 py-5">
<div class="row" *ngIf="corsi&&corsi.content">
  <div class="col-md-4 p-5" *ngFor="let c of corsi.content;index as i">
    <div class="p-3">
        <div class="py-3 " [ngClass]="i%2==0?'even':'odd'">
      <h2 class="fs-2 fw-bold" data-aos="zoom-in" data-aos-duration="3000">{{c.nome}}</h2>
<img src="assets/logo/crown.png" alt="" class="w-100">
<p class="fs-5">Svolto da {{c.docente.nome}}</p>
<label for="">Categorie</label>
<select class="form-select bg-transparent w-75 m-auto my-2">
  <option value="" *ngFor="let c of c.materia">{{c.nome}}</option>
</select>
<button class="m-2 px-4 py-2" (click)="showCourse(c)">Anteprima</button>
</div>
    </div>
  </div>
</div>
   </div>
  </div>
</div>
</div>

