h1{
  font-size: 60px;
  line-height: 1.3;
  background: -webkit-linear-gradient(#164600, #45db00);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}
.form-control {
  border:none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 2px #8B008B;
background-color: transparent;
}
button{
  border:none;
  border-radius: 0.2rem;
  background: linear-gradient(#164600, #45db00);
  color:white
}

.odd{
  color: #8B008B;
  box-shadow: 0 0 3px 3px #8B008B;
background-color:   rgba(255, 255, 255, 0.3)!important;
  select{
  color: #8B008B;
  border: none;
  box-shadow: 0 0 2px 2px #8B008B;

}
}

.even{
  color: #164600;;
  box-shadow: 0 0 3px 3px #164600;
background-color:   rgba(255, 255, 255, 0.3)!important;
  select{
    color: #164600;
    border: none;
    box-shadow: 0 0 2px 2px  #164600;;
  }
}
.darker{
  background: rgba(0, 0, 0,0.5);
}
