  <div class="p-0 m-0 bg-black">
   <div class="container">
    <div class="row text-center py-5">
    <div class="col-md-12" data-aos="zoom-in" data-aos-duration="1500">
    <div class=" text-end triangle-topright"></div>
    <h1 class="py-5" style="font-size:100px;line-height: 1.5;">Academy</h1>
    <p class="fs-5">Where learn is made simple.</p>
    <div class="triangle-bottomleft"></div>
    </div>
    <div class="col-md-12 py-5"></div>
    <div class="col-md-12">
      <p class="py-5" style="font-size:100px;line-height: 1.5;">We train people all around the world!</p>
            <div id="earth" class="m-auto"></div>
            <p class="py-5 fs-1">Supporting over 100 languages</p>
</div>
<div class="col-md-4 p-4 text-center">
  <div class="rounded p-3"  >
<h2 class="fs-1">Our mission</h2>
<p class="fs-3">To train new talents and let they become the absoulte bests at what they do !
</p>
  </div>
</div>
<div class="col-md-4 p-4 text-center">
  <div class="rounded p-3" data-aos="fade-up" data-aos-duration="2200">
<h2 class="fs-1">Our offer</h2>
<p class="fs-3">
 We offer more than 2000 courses on the latest technologies ,each one has its own price.
</p>
  </div>
</div>
<div class="col-md-4 p-4 text-center">
  <div class="rounded p-3" data-aos="fade-up" data-aos-duration="3000">
<h2 class="fs-1">From your home</h2>
<p class="fs-3">
We are 100% remote company, giving you the chance to study and learn from the place you like the most. </p>
  </div>
</div>
<div class="col-md-12 py-5"></div>
<div class="col-md-6 py-5" style="line-height: 1.5;">
<h1>Train yourself to be the best you can be!</h1>
<p class="py-4 fs-2">With more than 2000 courses, you can choose technologies like blockchain, AI, Machine Learning, Cloud Data, Cybersecurity.</p>
</div>
<div class="col-md-6 py-3">
<img src="assets/home-images/vertical.webp" alt="" class="w-75 rounded m-auto shadow" [style.max-height]="'500px'" data-aos="fade-left" data-aos-duration="2500">
</div>
<div class="col-md-12 py-5">
  <div class="py-5">
 <div class="rounded p-5 bg-white" data-aos="zoom-out" data-aos-duration="1500">
   <h1> <p> 100,000 +</p></h1>
    <p class="fs-2">students chose us every month.</p>
  </div>
  </div>
</div>
<div class="col-md-12 py-5">
  <h1>Companies that have chosen us</h1>
</div>
<div class="col-md-4 col-lg-3 py-5" *ngFor="let c of companies" data-aos="zoom-in" data-aos-duration="1500">
  <div class="p-3">
    <div class="rounded border p-3 bg-white">
      <img src="{{c}}" alt="" class="w-100 " style="height:180px;">
    </div>
  </div>
</div>
<div class="col-md-12 py-5 slider-container">
  <h1 class="py-5">Multiple technologies treated</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let c of slider">
        <img src="{{c}}" height="100" width="250" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 py-5 text-center buttons">
<button class="px-5 py-2 m-4" [routerLink]="'/'">LOGIN</button>
<button class="px-5 py-2 m-4" [routerLink]="'/corsi'">COURSES</button>
</div>
  </div>
  </div>
</div>
