
  .col-md-6{
    color:rgb(12, 250, 12);

  h1{
    font-size: 60px;
  }

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid rgb(12, 250, 12);
  border-left: 100px solid transparent;
  margin-left: auto;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid rgb(12, 250, 12);
  border-right: 100px solid transparent;
}
}

