nav{
box-shadow: rgb(12, 250, 12);
  .col-md-3{
    .btn{
      color:rgb(12, 250, 12);
    }
.btn:hover{
  color:white
}
}


}
@media screen and (max-width: 1200px) {
  .text-center{
display: none;}

}
@media screen and (min-width: 1200px) {

  .p-2{
display: none;
}
}
