<nav class="p-4 bg-dark sticky-top" style="opacity: 0.5;">
<div class="row fs-4 text-center">
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/home'">
    Home 🏠</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/corsi'">
    Courses 📚</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="['/profilo',user?.id]">
    Dashboard 📊</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/riservato'">
    Reserved 🏢</button></div>
</div>
<div class="p-2">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="material-icons">menu</i>
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button" [routerLink]="'/home'"> 🏠</button></li>
      <li><button class="dropdown-item" type="button" [routerLink]="'/corsi'">📚</button></li>
      <li><button class="dropdown-item" type="button" [routerLink]="['/profilo',user?.id]">📊</button></li>
      <li><button class="dropdown-item" type="button" [routerLink]="'/riservato'">🏢</button></li>
    </ul>
  </div>
</div>
</nav>
