<nav class="p-4 bg-dark sticky-top" style="opacity: 0.5;">
<div class="row fs-4 text-center">
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/home'">
    Home 🏠</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/corsi'">
    Courses 📚</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="['/profilo',user?.id]">
    Dashboard 📊</button></div>
  <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/riservato'">
    Reserved 🏢</button></div>
</div></nav>
