<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
        <h1>La tua dashboard</h1>
    </div>
  <div class="col-md-12 p-2 darker rounded">
<div class="row p-3 w-100">
  <div class="col-md-3 darker text-white p-2 rounded text-center border">
<img src="assets/logo/crown.png" alt="" class="w-75 m-auto">
<h2>{{user.nome + " " + user.cognome}}</h2>
<p class="fs-5">Anni : {{user.eta}}</p>
<p class="fs-5">Info :</p>
<ul>
  <li>{{user.email}}</li>
</ul>
  </div>
</div>
  </div>
  </div>
</div>
