h1{
  font-size: 60px;
  line-height: 1.3;
  background: -webkit-linear-gradient(#164600, #45db00);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}
.darker{
  background: rgba(0, 0, 0,0.5);
}
